AppContent {
	padding-top: 10px;
}

.row-image-title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
    justify-content: space-between;
}

.row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}