AppContent {
	padding-top: 10px;
}

.row-image-title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
    justify-content: space-between;
}

.row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}

.app-container {
	flex-direction: row;
}

@media screen and (max-width: 615px) {
	.app-container {
		flex-direction: column;
	}
	.options-container, .image-container {
		max-width: 100% !important;
	}
	.cornerstone-canvas {
		width: 100% !important;
	}

	.row-image-title {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.row-image-title h5 {
		font-size: 1rem;
	}

	.row-image-title .row-center {
		width: 100%;
	}
}

