body, html {
  height: 100%;
  box-sizing: border-box;
}

.parent {
  position: relative;
  padding-bottom: 0px;
  min-height: 100%;
}


@media screen and (max-width: 615px) {
  .parent {
    padding-bottom: 40px;
  }
}